# Server
SERVER_PORT=8081
SERVER_HOST=0.0.0.0

# Temporal
TEMPORAL_HOST_PORT=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=order-fulfillment

# Database
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=orders
DB_USERNAME=orderapp
DB_PASSWORD=orderapp

# Logger
LOG_LEVEL=info
LOG_ENVIRONMENT=development
